<a href="https://colab.research.google.com/github/QaziSaim/CASE-STUDIES/blob/main/Python_Loops_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# print 10 natural numbers

i = 0
j = 10
while i<j:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1,6):
  print(i*str(i))

1
22
333
4444
55555

In [25]:
row = 5
for i in range(1, row+1):
  for j in range(1,i+1):
    print(j,end= ' ')
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
add = 0
for i in range(int(input("lower value: ")),int(input("upper value: "))):
  add+=i
print("Sum: ",add)

lower value: 1
upper value: 11
Sum:  55